body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #5cb85c, #3498db, #e74c3c, #f39c12);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    margin: 0;
    -webkit-animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #000000;
    margin-bottom: 10px;
}

canvas {
    border: 4px solid #000000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}